{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Deborah Ferguson{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Deborah Ferguson</h1>
    <h4>Physics graduate student at Georgia Tech.  Interested in astrophysics, gravity, and numerical relativity.</h4>
</div>
<div>
    <h3>Contact Information</h3>
    <address>
        <strong>Georgia Institute of Technology - School of Physics</strong><br>
        Howey N209<br>
        837 State Street<br>
        Atlanta, Georgia 30332-0430<br>
        <br>
        <abbr title="Email">E:</abbr> dferguson41 [at] gatech.edu
    </address>
    <br>

    <h3>Education</h3>
    <p></p>
    <br>

    <h3>Research</h3>
    <p></p>
    <br>

    <h3>Teaching</h3>
    <p><strong>Current:</strong><br>
        GTA for Physics 2212 Sections P01 and Q05<br>
        Help Center on Tuesdays 1pm-2pm<br>
        {{ wtf.quick_form(form) }}<br>
        <strong>Previous:</strong><br>
        (Fall '16) GTA for Physics 2211 Sections M04 and N01<br>
    </p>
    <br>

    <h3>Awards</h3>
    <p></p>
    <br>
</div>
{% endblock %}