{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Deborah Ferguson{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Deborah Ferguson</h1>
    <h4>Physics graduate student at Georgia Tech.  Interested in astrophysics, gravity, and numerical relativity.</h4>
</div>
<div>
    <h3>Contact Information</h3>
    <address>
        <strong>Georgia Institute of Technology - School of Physics</strong><br>
        Howey N209<br>
        837 State Street<br>
        Atlanta, Georgia 30332-0430<br>
        <abbr title="Email">E:</abbr> dferguson41 [at] gatech.edu
    </address>
    <br>

    <h3>Education</h3>
    <p>Graduate Student, Physics, Georgia Institute of Technology (2016 - Present)<br>
        B.S. in Physics, Minors in Mathematics and Computer Science, University of Kentucky (2013 - 2016) </p>
    <br>

    <h3>Research</h3>
    Milky Way Tomography with K and M Dwarf Stars: The Vertical Structure of the Galactic Disk <sup>Manuscript Under Review</sup>
    <ul>
        <li>Advisors: Dr. Susan Gardner (University of Kentucky) and Dr. Brian Yanny (Fermilab)</li>
        <li>Years: 2014 - Present</li>
    </ul><br>
    Using Resonant Frequencies and Overtones to Calculate the Sound Velocity of TIPS Pentacene<br>
    <ul>
        <li>Advisor: Dr. Joseph Brill (University of Kentucky)</li>
        <li>Years: 2013 - 2014</li>
    </ul><br>
    Mobile Physics Engine Modeling Two Dimensional Elastic and Inelastic Collisions for the Educational Demonstration of Physics Phenomena<br>
    <ul>
        <li>Advisor: Dr. Jerzy Jaromczyk</li>
        <li>Years: 2013 - 2014</li>
    </ul><br>
    Impact of Chemical Extracts of Seeds from Endophyte Infected and Non-Infected Tall Fescue on Soil Microbial Communities
    <ul>
        <li>Advisor: Dr. David McNear</li>
        <li>Years: 2012 - 2013</li>
    </ul><br>
    Testing the Accuracy of the Honeywell HMC5883L 3-axis Magnetometer<br>
    <ul>
        <li>Advisor: Dr. Christopher Crawford</li>
        <li>Years: 2011 - 2012</li>
    </ul>
    <br>

    <h3>Teaching</h3>
    <p><strong>Current:</strong><br>
        GTA for Physics 2212 Sections P01 and Q05<br>
        Help Center on Tuesdays 1pm-2pm<br>
        {{ wtf.quick_form(form) }}<br>
        <strong>Previous:</strong><br>
        (Fall '16) GTA for Physics 2211 Sections M04 and N01<br>
    </p>
    <br>

    <h3>Honors and Awards</h3>
    <p>(2016) Georgia Tech Institute Fellowship<br>
        (2016) Outstanding Senior in Physics, University of Kentucky<br>
        (2015) First Place - ACM Programming Competition, University of Kentucky Chapter, Division II<br>
        (2015) University of Kentucky Summer Research Grant<br>
        (2015) Outstanding Junior in Physics, University of Kentucky<br>
        (2014) 42nd in United States, IEEEXtreme 24-Hour Programming Competition<br>
        (2013) Singletary Scholarship, University of Kentucky<br>
        (2013) 125th in United States, IEEEXtreme 24-hour Programming Competition<br>
        (2013) National Merit Finalist, National Merit Scholarship Foundation
    </p>
    <br>

</div>
{% endblock %}