{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Feedback{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Feedback</h1>
</div>
<div>
    <p>The purpose of this evaluation is to give you the opportunity to provide feedback on this course and my
    instruction up to this point in the semester.  This gives me time to address any concerns I can and facilitate an
    enriching atmosphere for the remainder of the course.  This is anonymous so please be honest and remember this is to
    help me improve this class for you.</p>
    <br>
    {{ wtf.quick_form(form) }}<br>
    <a href="/">Return to the main page</a>
</div>
{% endblock %}